.social a {
    font-size: 4em;
    padding: 20px;
}

.fa-vk {color: #3b5998}

.fa-telegram {color:  #0088cc}

.fa-github {color: #666666}

.fa-vk:hover, .fa-telegram:hover, .fa-github:hover {
    color: #ccc;
}